@import url('https://fonts.googleapis.com/css?family=Exo+2:400&display=swap');
html {
    background-color: #444;
    color: #e6e6e6;
    font-size: 16px;
    font-family: 'Exo 2', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

#content {
    margin-left: 10px;
}

#noscript {
    margin-left: 10px;
    font-size: 18px;
}

#navbar {
    width: 100%;
    margin-bottom: 15px;
    float: left;
    overflow: hidden;
    background-color: #222;
}

#navbar a {
    display: block;
    float: left;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: #e6e6e6;
}

#navbar a:hover {
    color: #aaa;
}

.menu-icon {
    display: none;
    height: 20px;
    width: 20px;
    position: relative;
    top: 50%;
    transform: translateY(75%);
}

/* Mobile menu bar */
@media only screen and (max-width : 640px) {
    #navbar a:not(:first-child) {
        display: none;
    }

    .menu-icon {
        display: block;
        float: right;
    }

    #navbar.open {
        position: relative;
    }

    #navbar.open a {
        display: block;
        float: none;
        text-align: left;
    }

    #navbar.open .menu-icon {
        position: absolute;
        right: 0;
        top: 0;
    }
}

a {
    color: inherit;
    text-decoration: inherit;
}

a.underline {
    text-decoration: underline;
}

a.active {
    color: #999 !important;
}

h1 {
    display: inline;
    font-weight: bold;
    vertical-align: middle;
}

h2 {
    font-weight: normal;
}

.inputs, .outputs {
    display: flex;
    flex-wrap: wrap;
}

.inputs section {
    display: flex;
    flex-direction: column;
    flex: 1 0 26%;
}

/* Exo Flight Test */
.inputs .eft, .outputs .eft, .eft {
    display: none;
}

.inputs .not_eft, .outputs .not_eft, .not_eft {
    display: initial;
}

.flight-icon {
    display: block;
    float: right;
    height: 20px;
    width: 20px;
    position: relative;
    top: 50%;
    transform: translateY(75%);
}

.eft img {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(0.8);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(0.8);
}

img {
    vertical-align: middle;
    margin-right: 10px;
}

.inputs div, .outputs div {
    margin-bottom: 5px;
}

.small {
    max-width: 25%;
    max-height: 25px;
}

.big {
    max-width: 25%;
    max-height: 40px;
}

.massive {
    max-width: -moz-calc(100% - 10px);
    max-width: -webkit-calc(100% - 10px);
    max-width: -o-calc(100% - 10px);
    max-width: calc(100% - 10px);
}

input {
    width: 25%;
}

label {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    font-weight: bold;
    margin-left: 0px;
}

abbr, *[title] {
    text-decoration: dotted underline;
    cursor: help;
}

.output {
    font-weight: bold;
}

.aligned {
    vertical-align: middle;
    min-width: 214px;
    margin-right: 20px;
}

hr {
    display: block;
    height: 1px;
    min-width: 100%;
    border: 0;
    border-top: 1px solid rgb(230,230,230);
    margin: 1em 0;
    margin-left: -10px;
    padding: 0;
}

#headToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #0099FF;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#headToTop:hover {
    background-color: #0072BF;
}